.text::first-letter {
    color: red;
}

.text::first-line {
    color: red;
}

.text::after {
    content: '뻥이지롱';
    color: red;
}

.text::before {
    content: '뻥이지롱';
    color: red;
}

body { color: #eee; }

#nav {
     margin: 40px auto;
     text-align: center;
}
#nav li {
    display: inline;
}
#nav a {
    margin: 10px;
    color: #eee;
    font: bold 20px Sans-Serif;
    text-decoration: none;
}
#login {
    z-index: 2;
}
#login:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    z-index: -1;
    pointer-events: none;
}
#login:hover:after {
    z-index: 1; 
    background: rgba(0,0,0,0.75);
}
#login strong {
    background: green;
    padding: 10px;
}
#login:hover strong {
    position: relative;
    z-index: 2;  
}

.ribbon {
    font-size: 16px !important;
    /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
   
    width: 50%;
       
    position: relative;
    background: #ba89b6;
    color: #fff;
    text-align: center;
    padding: 1em 2em; /* Adjust to suit */
    margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
   }
   .ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #986794;
    z-index: -1;
   }
   .ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
   }
   .ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
   }
   .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #804f7c transparent transparent transparent;
    bottom: -1em;
   }
   .ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
   }
   .ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
   }

ol {
	counter-reset:li; /* Initiate a counter */
	margin-left:0; /* Remove the default left margin */
	padding-left:0; /* Remove the default left padding */
}
ol > li {
	position:relative;
	margin:0 0 6px 2em; 
	padding:4px 8px; 
	list-style:none; 
	border-top:2px solid #666;
	background:#f6f6f6;
}
ol > li:before {
	content:counter(li);
	counter-increment:li; 
	position:absolute;
	top:-2px;
	left:-2em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:2em;

	margin-right:8px;
	padding:4px;
	border-top:2px solid #666;
	color:#fff;
	background:#666;
	font-weight:bold;
	font-family:"Helvetica Neue", Arial, sans-serif;
	text-align:center;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}
progress {
    /*기본 배경은 없애주는게 좋습니다*/
    -webkit-appearance: none;
    -moz-appearance : none;
    appearance: none;
    background: white;
  /* IE10 호환성용 */
    color: red;
  }
  progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
  }
  progress::-webkit-progress-value {
    background: linear-gradient(to right, rgb(11, 213, 119),rgb(24, 58, 183) );
    background-color: whitesmoke; 
    border-radius: 2px;
  }
  
  /*파이어폭스 호환성을 위해*/
  progress::-moz-progress-bar {
    background-color: red;
    border-radius: 2px;
  }